:root {
--darc-color: #212121;
--light-color: #FFFFFF;
--accent-color: #E64404;
};

* {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

body {
    background-color: var(--light-color);
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    font-style: normal;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 16px;
}

/* :is(:hover, :focus) */

/* HEADER */

.header-section {
    background-color: var(--darc-color);
    color: var(--light-color);
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-btn {
    position: relative;
    width: 51px;
    height: 28px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.nav-them-icon {
    position: absolute;
    top: 2px;
    left: 4px;
}

.header-logo {
    position: absolute;
    top: 74px;
    left: 16px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.3;
    font-family: 'Raleway', sans-serif;

    background: linear-gradient(to bottom, white 50%, #212121 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-container {
    display: flex;
}

.nav-menu-items {
    display: flex;
    gap: 40px;
    margin-right: 110px;
}

.nav-menu-item {
    padding: 47px 0 45px;
    cursor: pointer;
}

.nav-menu-item a {
    color: var(--light-color);
}

.search-logo {
    display: flex;
    align-items: center;
    margin-right: 212px;
}

.nav-icon-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-social-icon {
    fill: var(--light-color);
}

/* MAIN CARDS */

.main-cards {
    padding-top: 100px;
    padding-bottom: 210px;
}

.main-items {
    display: flex;
    gap: 30px;
}

.main-item {
    position: relative;
}

.main-img {
    background: var(--darc-color);
    border: 1px solid #212121;
    border-radius: 20px;
}

.main-subtitle {
    position: absolute;
    left: 52px;
    bottom: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 282px;
    height: 70px;
    color: var(--darc-color);
    background-color: var(--light-color);
    border: 1px solid #212121;
    border-radius: 15px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;
    font-family: 'Raleway', sans-serif;
}

/* FOOTER */

footer {
    background-color: var(--darc-color);
}

.footer-container {
    position: relative;
    display: flex;
    align-items: start;
    gap: 100px;
    padding-top: 86px;
}

.footer-logo {
    position: absolute;
    top: -39px;
    left: 0;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.3;
    font-family: 'Raleway', sans-serif;

    background: linear-gradient(to bottom, #212121 50%, white 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-nav-sub, .footer-links {
    color: var(--light-color);
    font-weight: 400;
}

.footer-nav-sub {
    font-size: 20px;
    line-height: 0.7;
    margin-bottom: 60px;
}

.footer-links {
    font-size: 14px;
    line-height: 1.00;
}

.footery-nav-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-address-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-text {
    display: flex;
    justify-content: center;
    margin-top: 44px;
    font-size: 11px;
    line-height: 1.27;
    color: var(--light-color);
}